* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-size: cover;
    background-position: center;
}

.main.bg1 {
    background-image: url("/bg2opt.webp");
}

.main.bg2 {
    background-image: url("/bg1opt.webp");
}

.main.bg3 {
    background-image: url("/bg3opt.webp");
}

.main.bg4 {
    background-image: url("/bg4opt.webp");

}